.production-table__table-container {
	max-height: 95%;
}

.production-table__cell {
	width: 50%;
}

.production-table__head-cell {
	font-weight: bold;
}

.production-table__footer {

}

.production-table__footer-cell {
	line-height: 1;
}

@media (max-height: 400px) {
  .production-table__table-container {
  	max-height: 85%;
  }
}

@media (min-height: 401px) and (max-height: 601px) {
  .production-table__table-container {
  	max-height: 89%;
  }
}

@media (min-height: 601px) {
  .production-table__table-container {
  	max-height: 91%;
  }
}

@media (min-height: 801px) {
  .production-table__table-container {
  	max-height: 94%;
  }
}