.production-page__container {
  height: 100vh;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.production-page__spinner-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.production-page__nav-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.production-page__link {
  text-decoration: none;
}

.production-page__table-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.production-page__item-text {
  text-align: center;
}
